<mat-form-field appearance="fill" *ngIf="field.type=='text'">
    <mat-label>{{ field.label }}</mat-label>
    <input matInput type={{field.inputType}} [formControl]="control" />
</mat-form-field>

<mat-form-field appearance="fill" *ngIf="field.type=='area'">
    <mat-label>{{ field.label }}</mat-label>
    <textarea matInput [formControl]="control"></textarea>
</mat-form-field>


<mat-form-field appearance="fill" *ngIf="field.type=='select'">
    <mat-label>{{ field.label }}</mat-label>
    <mat-select [formControl]="control" [multiple]="field.multiple">
        <mat-option *ngFor="let option of field.options" [value]="option.value">
            {{ option.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>


<mat-checkbox [formControl]="control" *ngIf="field.type=='checkbox'">{{ field.label }}</mat-checkbox>


<mat-form-field appearance="fill" *ngIf="field.type=='datepicker'">
    <mat-label>{{ field.label }}</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="control" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div *ngIf="field.type=='json'">
    <br>
    <h1>{{field.placeholder}}</h1>
    <json-editor [formControl]="control" [options]="editorOptions" [data]="field.value"></json-editor>
</div>